.Books_form {
  max-width: 900px;
  margin: 0 auto;
}

.Books_form-input {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.Books_input {
  flex: 1;
  height: 40px;
  line-height: 40px;
  margin-right: 1rem;
}

.Books_select {
  flex: 0.7;
  height: 40px;
  line-height: 40px;
  margin-right: 1rem;
  
}

.Books_btn {
  padding: 0 10px;
  font-size: 0.8rem;
  background-color: #1d8ff3;
  color: #fff;
  border: none;
}
