.Header{
 background-color: #fff;
 height: 70px;
 line-height: 70px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-bottom: 1px solid #e8e8e8;
}

.Header_title{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  margin-right: 20px;
}

.Header_avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0 0 41.5rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
}
